{{block "Title" .}}Tasks - {{.Action}}{{end}}
{{define "content"}}
<div class="container-fuild">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{.Task.Name}}</h3>
			</div>
			<div class="panel-body">
				<form>
					<div class="row">
						<div class="form-group col-sm-4">
							<label for="ID">ID</label>
							<input type="text" class="form-control" name="ID" value="{{.Task.ID}}" readonly required>
						</div>

						<div class="form-group col-sm-3 pull-right">
							<label for="ProjectID">Project</label>
							<select id="SelectProjectID" name="ProjectID" class="form-control disabled" {{.disabled}} required>
								{{if .Task.Project}}
								<option selected hidden value="{{.Task.Project.ID.String}}">{{.Task.Project.Name}}</option>
								{{end}}
								{{range $k, $v := .Projects}}
								<option value="{{$v.ID.String}}">{{$v.Name}}</option>
								{{end}}
							</select>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-sm-6">
							<label for="Name">Name</label>
							<input type="text" class="form-control" name="Name" value="{{.Task.Name}}" {{.readonly}} required autocomplete="off">
						</div>

						<div class="form-group col-sm-3 pull-right">
							<label for="MaintainerID">Maintainer</label>
							<select name="MaintainerID" class="form-control" {{.disabled}} required>
								{{if .User}}
								<option selected hidden value="{{.User.ID.String}}">{{.User.UserName}}</option>
								{{else}}
								<option selected hidden value="{{.Task.Maintainer.ID.String}}">{{.Task.Maintainer.UserName}}</option>
								{{end}}
								{{range $k, $v := .Users}}
								<option value="{{$v.ID.String}}">{{$v.UserName}}</option>
								{{end}}
							</select>
						</div>
					</div>

					<div class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-12">
								<label for="Description">Description</label>
								<textarea class="form-control" name="Description" rows="5" style="resize: none;" {{.readonly}}>{{.Task.Description.String}}</textarea>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-sm-4">
							<label for="StartDate">Start date</label>
							<input type="date" class="form-control" name="StartDate" value="{{.Task.StartDate.String}}" {{.readonly}} required>
						</div>

						<div class="form-group col-sm-4">
							<label for="PlanEndDate">Planned end date</label>
							<input type="date" class="form-control" name="PlanEndDate" value="{{.Task.PlanEndDate.String}}" {{.readonly}}>
						</div>

						<div class="form-group col-sm-4">
							<label for="EndDate">End date</label>
							<input type="date" class="form-control" name="EndDate" value="{{.Task.EndDate.String}}" {{.readonly}}>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-sm-2 pull-right">
							{{if eq .Action "view"}}
							<a class="btn btn-default btn-primary pull-right" href="/tasks/edit/{{.Task.ID}}" role="button">Edit</a>
							{{else if eq .Action "edit"}}
							<div class="btn-group pull-right" role="group">
								<a href="/tasks/view/{{.Task.ID}}" class="btn btn-default">Cancel</a>
								<button type="submit" class="btn btn-default btn-success" formaction="/tasks/save" formmethod="POST">Save</button>
							</div>
							{{else if eq .Action "new"}}
							<div class="btn-group pull-right" role="group">
								<a href="/tasks" class="btn btn-default">Cancel</a>
								<button type="submit" class="btn btn-default btn-success" formaction="/tasks/save" formmethod="POST">Create</button>
							</div>
							{{end}}
						</div>
					</div>
				</form>
			</div>
		</div>
	<div class="row">
</div>
{{ end }}