{{define "TaskList"}}
<table class="table table-striped table-hover" style="margin: 0;">
	<thead>
		<tr>
			<th>Name</th>
			<th>Planed end date</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{{range $k, $v := .Tasks}}
		<tr>
			<td>{{$v.Name}}</td>
			<td>{{$v.PlanEndDate.Val}}</td>
			<td>
				<div class="btn-group">
					<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
						Action <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="/tasks/view/{{$v.ID}}">View</a></li>
						<li><a href="/tasks/edit/{{$v.ID}}">Edit</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="/tasks/delete/{{$v.ID}}">Delete</a></li>
					</ul>
				</div>
			</td>
		</tr>
		{{end}}
	</tbody>
</table>
{{end}}